$color-primary: #1890ff;
$color-header: #16325c;
$color-nav: #0f4f7d;
$color-logo: #10294f;

$color-text--gray: #434e59;
$color-text--blue: #5182e4;

$button-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.04);
